.DS_Store
.idea/
.cursor/
__pycache__/
*.py[cod]
*$py.class

.env
.env.*
!.env.example

comment_crawl/build/
comment_crawl/eggs/
comment_crawl/project.egg-info/
comment_crawl/logs/
comment_crawl/dbs/
*.db
*.sqlite
*.sqlite3
*.rdb

comment_crawl/comment_crawl/__pycache__/
comment_crawl/comment_crawl/**/__pycache__/
comment_crawl/comment_crawl/log/*.log

*.egg-info/
dist/
build/
